.pic3 {
	position: absolute;
	top: 679px;
	left: 200px;
	width: 1108.991px;
	height: 113.657px;
}
.pic3:hover {
	stroke: #544cac;
}
.how {
	position: absolute;
	display: flex;
	width: 100px;
	height: 17px;
	top: 859px;
	left: 165px;
	color: #ff5c00;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 50px; /* 416.667% */
	letter-spacing: 0.6px;
}
.start {
	width: 393px;
	height: 94px;
	color: #353434;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px; /* 125% */
	letter-spacing: 2px;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top:895px;
	left: 165px;
}
